*~
Makefile
Makefile.in
*.la
*.lo
*.o
po/*.mo
pixmaps/*/*.png
*.tar.gz
aclocal.m4
autom4te*
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
.dirstamp
protobuf/*.pb-c.c
protobuf/*.pb-c.h
/m4/
