#!/usr/bin/make -f
#export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with autotools-dev

override_dh_install:
	dh_install
	dh_pidgin

override_dh_strip:
	dh_strip --dbg-package=pidgin-chime-dbg
